:global {
  @import 'base';
  @import 'device-sizes';
  @import 'standard-classes';
  @import '~normalize.css/normalize';
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,100,500,900);
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);

  html {
    box-sizing: border-box;
  }

  html,
  body {
    // margin: 0;
    // padding: 0;
    // height: 100%;
    background-color: $background;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    // @include desktop {
    //   font-size: 15px;
    // }

    // @include mobile {
    //   font-size: 12px;
    // }
  }
  a {
    text-decoration: none !important;
    &:visited {
      text-decoration: none;
      // color: inherit;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  [type=button]{
    -webkit-appearance: none !important;
  }
}
